h1 {
  margin-bottom: var(--padding-scaled);
}

div.work-information {
  display: grid;
  max-width: none;
  gap: var(--padding-scaled);

  @media (min-width: 1550px) {
    grid-template-columns: 33em 1fr;
  }

  > section {
    margin: 0;
  }
}

section.description p:first-of-type {
  margin-top: 0;
}

section.key-data {
  font-size: 0.8rem;
  line-height: 1.4;
  margin: var(--padding-scaled) 0;

  @media (min-width: 1500px) {
    dl {
      margin: 0.5em 0 0;
    }
  }

  dl {
    div:not(:first-child) {
      margin-top: 0.5em;
    }

    dt {
      font-weight: 600;
      display: block;
      margin: 0;
    }

    dd {
      display: inline;
      margin: 0;

      &:not(:last-child)::after {
        content: ", ";
      }
    }
  }
}
