* {
  box-sizing: border-box;
}

html {
  font: 20px/1.3 var(--font-family);
  color: var(--color-text);
}

body {
  margin: 0;
  padding: var(--padding-scaled);
  background-color: var(--color-background);
  font: var(--font-sm);
  display: flex;
  justify-content: center;
}

.max-width {
  max-width: 120rem;
  width: 100%;
}

::selection {
  background-color: var(--color-selection-background);
  opacity: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.scaled--small {
  font: var(--font-md);
}

.scaled {
  font: var(--font-3xl);
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

a:focus {
  outline: 2px solid var(--color-focus);
  outline-offset: 4px;
}

a.skip-link {
  position: absolute;
  top: -3rem;
  font: var(--font-xs);
}

a.skip-link:focus {
  top: 1rem;
}

a.more {
  font: var(--font-xs);
  font-weight: 400;
  color: var(--color-text);
  text-decoration: none;
  display: block;
  margin: var(--padding-scaled-05) 0 0;
}

a.more:hover {
  color: var(--color-link-hover);
}

a.back {
  font-weight: 400;
  color: var(--color-text);
  text-decoration: none;
  display: block;
  margin: var(--padding-scaled) 0;
}

a.back:hover {
  color: var(--color-link-hover);
}

a.contact {
  color: var(--color-text);
  text-decoration: none;
}

a.contact:hover {
  color: var(--color-link-hover);
}

p {
  margin: 0.6em 0 0;
  max-width: var(--font-sm-max-width);
}

h1 {
  font-weight: 600;
  margin: var(--padding-scaled) 0 var(--padding-scaled-2) -0.05em;
  font: var(--font-4xl);
}

h2 {
  color: var(--color-text);
  font-weight: 600;
  margin: var(--padding-scaled-2) 0 var(--padding-scaled-05) -0.025em;
  font: var(--font-2xl);
  max-width: 15em;
}

@media (min-width: 48rem) {
  h2.scaled {
    margin-left: -0.05em;
  }
}

h3 {
  font: var(--font-xl);
  margin: 1.5em 0 0.75em -0.025em;
  font-weight: 600;
}

h4 {
  font: var(--font-lg);
  margin: 1em 0 0.5em;
  font-weight: 600;
}

ul {
  list-style-type: "→ ";
  padding: 0 0 0 1.25em;
  margin: 0.6em 0;
}

ul.contacts {
  margin: var(--padding-scaled) 0;
  padding: 0;
  list-style-position: inside;
}

li {
  max-width: var(--font-sm-max-width);
  margin-top: 0.3em;
}

li::marker {
  width: 1.5em;
}
