header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: var(--spacing-md) var(--spacing-xl);
}

:is(nav.main, nav.languages) ul {
  margin: 0;
  padding: 0;
}

@media (min-width: 30rem) {
  :is(nav.main, nav.languages) ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: var(--spacing-sm) var(--column-spacing);
  }
}

:is(nav.main, nav.languages) li {
  margin: var(--spacing-sm) 0 0;
}

:is(nav.main, nav.languages) li:first-child {
  margin-top: 0;
}

@media (min-width: 30rem) {
  :is(nav.main, nav.languages) li {
    margin-top: 0;
  }
}

:is(nav.main, nav.languages) li::marker {
  color: transparent;
}

:is(nav.main, nav.languages) a {
  color: var(--color-text);
  text-decoration: none;
  display: block;
}

:is(nav.main, nav.languages) a:hover {
  color: var(--color-link-hover);
}

nav.main a[aria-current="page"] {
  font-weight: 700;
}

nav.languages {
  text-align: right;
}

nav.languages li.active a {
  font-weight: 700;
}
