@font-face {
  font-family: "Borna";
  src: url("/assets/fonts/borna-regular.woff2") format("woff2"), url("/assets/fonts/borna-regular.woff") format("woff"), url("/assets/fonts/borna-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Borna";
  src: url("/assets/fonts/borna-regularitalic.woff2") format("woff2"), url("/assets/fonts/borna-regularitalic.woff") format("woff"), url("/assets/fonts/borna-regularitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Borna";
  src: url("/assets/fonts/borna-medium.woff2") format("woff2"), url("/assets/fonts/borna-medium.woff") format("woff"), url("/assets/fonts/borna-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Borna";
  src: url("/assets/fonts/borna-mediumitalic.woff2") format("woff2"), url("/assets/fonts/borna-mediumitalic.woff") format("woff"), url("/assets/fonts/borna-mediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Borna";
  src: url("/assets/fonts/borna-semibold.woff2") format("woff2"), url("/assets/fonts/borna-semibold.woff") format("woff"), url("/assets/fonts/borna-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Borna";
  src: url("/assets/fonts/borna-semibolditalic.woff2") format("woff2"), url("/assets/fonts/borna-semibolditalic.woff") format("woff"), url("/assets/fonts/borna-semibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Borna";
  src: url("/assets/fonts/borna-bold.woff2") format("woff2"), url("/assets/fonts/borna-bold.woff") format("woff"), url("/assets/fonts/borna-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Borna";
  src: url("/assets/fonts/borna-bolditalic.woff2") format("woff2"), url("/assets/fonts/borna-bolditalic.woff") format("woff"), url("/assets/fonts/borna-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
:root {
  --color-lightgrey: #eae8f0;
  --color-lightgrey-90: rgba(234, 232, 240, 0.9);
  --color-lightgrey-80: rgba(234, 232, 240, 0.8);
  --color-lightgrey-70: rgba(234, 232, 240, 0.7);
  --color-lightgrey-60: rgba(234, 232, 240, 0.6);
  --color-lightgrey-50: rgba(234, 232, 240, 0.5);
  --color-lightgrey-40: rgba(234, 232, 240, 0.4);
  --color-lightgrey-30: rgba(234, 232, 240, 0.3);
  --color-lightgrey-20: rgba(234, 232, 240, 0.2);
  --color-lightgrey-10: rgba(234, 232, 240, 0.1);
  --color-lightpurple: #8b79fb;
  --color-deeppurple: #422bd7;
  --color-blackpurple: #141221;
  --color-blackpurple-90: rgba(20, 18, 33, 0.9);
  --color-blackpurple-80: rgba(20, 18, 33, 0.8);
  --color-blackpurple-70: rgba(20, 18, 33, 0.7);
  --color-blackpurple-60: rgba(20, 18, 33, 0.6);
  --color-blackpurple-50: rgba(20, 18, 33, 0.5);
  --color-blackpurple-40: rgba(20, 18, 33, 0.4);
  --color-blackpurple-30: rgba(20, 18, 33, 0.3);
  --color-blackpurple-20: rgba(20, 18, 33, 0.2);
  --color-blackpurple-10: rgba(20, 18, 33, 0.1);
  --color-background: var(--color-lightgrey);
  --color-background-40: var(--color-lightgrey-40);
  --color-link: var(--color-deeppurple);
  --color-link-hover: var(--color-deeppurple);
  --color-focus: var(--color-deeppurple);
  --color-text: var(--color-blackpurple);
  --color-text-90: var(--color-blackpurple-90);
  --color-text-80: var(--color-blackpurple-80);
  --color-text-70: var(--color-blackpurple-70);
  --color-text-60: var(--color-blackpurple-60);
  --color-text-50: var(--color-blackpurple-50);
  --color-text-40: var(--color-blackpurple-40);
  --color-text-30: var(--color-blackpurple-30);
  --color-text-20: var(--color-blackpurple-20);
  --color-text-10: var(--color-blackpurple-10);
  --color-selection-background: var(--color-lightpurple);
  --color-overlay: var(--color-lightgrey-90);
  --color-overlay-hover: var(--color-lightgrey-60);
  --font-family: "Borna", sans-serif;
  --padding-scaled-025: calc(min(1.25vw + 0.275rem, 1.175rem));
  --padding-scaled-05: calc(min(2.5vw + 0.55rem, 2.35rem));
  --padding-scaled: calc(min(5vw + 1.1rem, 4.7rem));
  --padding-scaled-2: calc(min(10vw + 2.2rem, 9.4rem));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-blackpurple);
    --color-background-40: var(--color-blackpurple-40);
    --color-link: var(--color-lightpurple);
    --color-link-hover: var(--color-lightpurple);
    --color-focus: var(--color-deeppurple);
    --color-text: var(--color-lightgrey);
    --color-text-90: var(--color-lightgrey-90);
    --color-text-80: var(--color-lightgrey-80);
    --color-text-70: var(--color-lightgrey-70);
    --color-text-60: var(--color-lightgrey-60);
    --color-text-50: var(--color-lightgrey-50);
    --color-text-40: var(--color-lightgrey-40);
    --color-text-30: var(--color-lightgrey-30);
    --color-text-20: var(--color-lightgrey-20);
    --color-text-10: var(--color-lightgrey-10);
    --color-selection-background: var(--color-deeppurple);
    --color-overlay: var(--color-blackpurple-80);
    --color-overlay-hover: var(--color-blackpurple-60);
  }
}
* {
  box-sizing: border-box;
}

html {
  font: 20px var(--font-family);
  color: var(--color-text);
}

body {
  margin: 0;
  padding: var(--padding-scaled);
  background-color: var(--color-background);
}

::selection {
  background-color: var(--color-selection-background);
  opacity: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.scaled--small {
  font-size: min(5vw + 0.1rem, 1.5rem);
  line-height: 1.4;
  max-width: 33em;
}

.scaled {
  font-size: min(5vw + 0.4rem, 4rem);
  line-height: min(5vw + 0.8rem - 0.1em, 4rem);
  max-width: 15em;
}

a {
  color: var(--color-link);
}
a:hover {
  color: var(--color-link-hover);
}
a:focus {
  outline: 2px solid var(--color-focus);
  outline-offset: 4px;
}
a.skip-link {
  position: absolute;
  top: -3rem;
  font-size: 0.8rem;
}
a.skip-link:focus {
  top: 1rem;
}
a.more {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-text);
  text-decoration: none;
  display: block;
  margin: var(--padding-scaled-05) 0 0;
}
a.more:hover {
  color: var(--color-link-hover);
}
a.back {
  font-weight: 400;
  color: var(--color-text);
  text-decoration: none;
  display: block;
  margin: var(--padding-scaled) 0;
}
a.back:hover {
  color: var(--color-link-hover);
}

p {
  margin: 0.6em 0 0;
}

address {
  font-style: normal;
  margin-top: 1.3em;
}

h1 {
  font-weight: 600;
  margin: var(--padding-scaled) 0 var(--padding-scaled-2) -0.05em;
}

h2 {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 0 var(--padding-scaled-05);
}
@media (min-width: 768px) {
  h2.scaled {
    margin-left: -0.05em;
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -0.25rem;
  gap: 1rem 3rem;
}

nav.main ul,
nav.languages ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: baseline;
}
nav.main li::marker,
nav.languages li::marker {
  color: transparent;
}
nav.main a,
nav.languages a {
  color: var(--color-text);
  font-size: 0.8rem;
  text-decoration: none;
  display: block;
}
nav.main a:hover,
nav.languages a:hover {
  color: var(--color-link-hover);
}

nav.main .logo {
  display: block;
  font-weight: 700;
  margin-right: 1.5rem;
  font-size: 2rem;
  line-height: 0.85;
  color: var(--color-text-10);
}
nav.main ul {
  gap: 0.5rem 1.5rem;
}
nav.main a[aria-current=page] {
  font-weight: 700;
}

nav.languages ul {
  gap: 0.5rem 0;
}
nav.languages li {
  display: flex;
  align-items: baseline;
}
nav.languages li.active {
  font-weight: 700;
}
nav.languages li:not(:last-child)::after {
  content: "|";
  margin: 0 0.25em;
  font-weight: 400;
}

#slideshow {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
}
#slideshow img,
#slideshow video {
  width: 100%;
  height: auto;
  display: block;
}
#slideshow ul.images {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#slideshow ul.images > li {
  position: relative;
  padding: 0;
}
.js-enabled #slideshow ul.images > li:not(.active) {
  visibility: hidden;
  height: 0;
}
#slideshow ul.images > li:not(:first-child) {
  margin-top: 18px;
}
.js-enabled #slideshow ul.images > li:not(:first-child) {
  margin-top: 0;
}
#slideshow ul.controls {
  list-style: none outside none;
  display: none;
  justify-content: center;
  padding: 0;
  margin: 0.5rem 0 0;
}
.js-enabled #slideshow ul.controls {
  display: flex;
}
#slideshow ul.controls > li > a {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  position: relative;
}
#slideshow ul.controls > li > a::before {
  content: "";
  display: block;
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: var(--color-text);
  top: 9px;
  left: 9px;
}
#slideshow ul.controls > li.active > a::before {
  background: var(--color-link-hover);
}
#slideshow #slideshow-previous,
#slideshow #slideshow-next {
  display: none;
}
.js-enabled #slideshow #slideshow-previous,
.js-enabled #slideshow #slideshow-next {
  display: block;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: none;
  text-indent: -9999px;
  position: absolute;
  top: calc((100% - 36px - 24px) / 2);
  padding: 0;
  background: var(--color-text);
  z-index: 10;
}
.js-enabled #slideshow #slideshow-previous:hover,
.js-enabled #slideshow #slideshow-next:hover {
  cursor: pointer;
}
.js-enabled #slideshow #slideshow-previous::before,
.js-enabled #slideshow #slideshow-next::before {
  display: block;
  content: "";
  position: absolute;
  top: calc((36px - 0.4em) / 2);
  height: 0.4em;
  width: 0.4em;
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: var(--color-background);
  transform: rotate(-135deg);
}
.js-enabled #slideshow #slideshow-previous:disabled,
.js-enabled #slideshow #slideshow-next:disabled {
  visibility: hidden;
}
#slideshow #slideshow-previous {
  left: -18px;
}
.js-enabled #slideshow #slideshow-previous::before {
  left: calc((36px - 0.3em) / 2);
}
#slideshow #slideshow-next {
  right: -18px;
}
.js-enabled #slideshow #slideshow-next::before {
  right: calc((36px - 0.3em) / 2);
  transform: rotate(45deg);
}

@media (min-width: 1024px) {
  .js-enabled #slideshow #slideshow-previous,
  .js-enabled #slideshow #slideshow-next {
    height: 44px;
    width: 44px;
    top: calc((100% - 44px - 24px) / 2);
  }
  .js-enabled #slideshow #slideshow-previous::before,
  .js-enabled #slideshow #slideshow-next::before {
    top: calc((44px - 0.6rem) / 2);
    height: 0.6rem;
    width: 0.6rem;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: var(--black);
    transform: rotate(-135deg);
  }
  #slideshow #slideshow-previous {
    left: -22px;
  }
  .js-enabled #slideshow #slideshow-previous::before {
    left: calc((36px + 0.1rem) / 2);
  }
  #slideshow #slideshow-next {
    right: -22px;
  }
  .js-enabled #slideshow #slideshow-next::before {
    right: calc((36px + 0.1rem) / 2);
    transform: rotate(45deg);
  }
}
div.title {
  margin-top: 7.8rem;
  padding: 0 var(--canvas-padding);
  z-index: 1;
}
div.title > .wrapper > span {
  display: block;
  font-size: 1.4em;
}
div.title h1 + span {
  margin-top: 0.5em;
}
div.title.title--cover {
  margin-top: 3rem;
}
div.title.title--cover .wrapper > #slideshow + h1 {
  margin-top: 1.8rem;
}
div.title.title--cover .wrapper > #slideshow + h1::after {
  top: -6.5rem;
}
@media (min-width: 1200px) {
  div.title {
    margin-bottom: 8rem;
  }
  .home div.title {
    margin-top: 10rem;
  }
  .home div.title span {
    line-height: 1.4em;
  }
  div.title h1::after {
    right: auto;
    left: -4.97rem;
  }
  .home div.title h1 {
    font-size: 8em;
    margin-top: 0;
  }
  .home div.title h1::after {
    height: 20rem;
    width: 20rem;
    left: -7rem;
    top: -9rem;
  }
  .home div.title h1 + span {
    margin-left: 15.5rem;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 0;
}
.image.image--video > :only-child {
  object-fit: contain;
  background: var(--foreground);
}
.image.image--square > :only-child, .image.image--rect > :only-child {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image.image--square {
  padding-bottom: 100%;
}
.image.image--rect {
  padding-bottom: 56.25%;
}

section.works {
  margin: var(--padding-scaled-2) 0;
}
section.works.works--all {
  margin: var(--padding-scaled) 0;
}
section.works .grid {
  display: grid;
  gap: var(--padding-scaled-05);
  max-width: 99rem;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 900px) {
  section.works .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1440px) {
  section.works .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

article.work a {
  text-decoration: none;
  display: block;
  color: var(--color-text);
  font-size: 0.8rem;
  line-height: 1.4;
}
article.work a:hover {
  color: var(--color-link-hover);
}
article.work img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center top;
  margin-bottom: 0.75em;
  /* max-width: 22em; */
  /* opacity: 0.6; */
  outline: 0.5px solid var(--color-text-20);
}
article.work h3 {
  font-weight: 700;
  display: inline;
  font-size: 1em;
}
article.work .areas {
  font-style: italic;
}

footer {
  margin: var(--padding-scaled-2) 0 0;
  display: grid;
  gap: var(--padding-scaled) var(--padding-scaled-05);
  align-items: end;
}
@media (min-width: 768px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  font-size: 0.8rem;
  margin-top: 0.4rem;
}
footer li::marker {
  color: transparent;
}
footer a {
  color: var(--color-text);
  text-decoration: none;
}
footer a:hover {
  color: var(--color-link-hover);
}
footer p.copyright {
  font-size: 0.8rem;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
