:root {
  --block-padding: 1rem;
  --inline-padding: 1rem;


  /* colors */
  --color-lightgrey: #eae8f0;
  --color-lightpurple: #8b79fb;
  --color-deeppurple: #422bd7;
  --color-blackpurple: #141221;

  /* semantic colors */
  --color-background: var(--color-theme-background, var(--color-lightgrey));
  --color-link: var(--color-theme-link, var(--color-deeppurple));
  --color-link-hover: var(--color-theme-link-hover, var(--color-deeppurple));
  --color-focus: var(--color-theme-focus, var(--color-deeppurple));
  --color-text: var(--color-theme-text, var(--color-blackpurple));
  --color-selection-background: var(
    --color-theme-selection-background,
    var(--color-lightpurple)
  );
  --outline-color: rgba(0, 0, 0, 0.2);

  /* fonts */
  --font-family: "Borna", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --font-size-sm: 0.5rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;

  --line-height-sm: 1.6;
  --line-height-md: 1.4;
  --line-height-lg: 1.05;
  --line-height-xl: 1;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --column-spacing: 1rem;
}

@supports (color: color-mix(in srgb, var(--color-text), transparent 80%)) {
  :root {
    --outline-color: color-mix(in srgb, var(--color-text), transparent 80%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* adjust semantic colors */
    --color-background: var(
      --color-theme-dark-background,
      var(--color-blackpurple)
    );
    --color-link: var(--color-theme-dark-link, var(--color-lightpurple));
    --color-link-hover: var(
      --color-theme-dark-link-hover,
      var(--color-lightpurple)
    );
    --color-focus: var(--color-theme-dark-focus, var(--color-deeppurple));
    --color-text: var(--color-theme-dark-text, var(--color-lightgrey));
    --color-selection-background: var(
      --color-theme-dark-selection-background,
      var(--color-deeppurple)
    );
  }
}
