section.works {
  margin: var(--padding-scaled-2) 0;
}

section.works.works--all {
  margin: var(--padding-scaled) 0;
}

section.works .grid {
  display: grid;
  gap: var(--padding-scaled-05);
  max-width: 99rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 56.25rem) {
  section.works .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 90rem) {
  section.works .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

article.work a {
  text-decoration: none;
  display: block;
  color: var(--color-text);
  font: var(--font-sm);
  max-width: none;
}

article.work a:hover {
  color: var(--color-link-hover);
}

article.work img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center top;
  margin-bottom: 0.75em;
  /* max-width: 22em; */
  /* opacity: 0.6; */
  outline: 0.5px solid var(--color-text-20);
}

article.work h3 {
  font-weight: 700;
  display: inline;
  font-size: 1em;
}

article.work .areas {
  font-style: italic;
}
