footer {
  margin: var(--padding-scaled-2) 0 0;
  display: grid;
  gap: var(--padding-scaled) var(--padding-scaled-05);
  align-items: end;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 0.8rem;
    margin: 0.4rem 0 0 0;

    &::marker {
      color: transparent;
    }
  }

  a {
    color: var(--color-text);
    text-decoration: none;

    &:hover {
      color: var(--color-link-hover);
    }

    &[aria-current="page"] {
      font-weight: 700;
    }
  }

  p.copyright {
    font-size: 0.8rem;
    margin: 0;
  }
}
