* {
  box-sizing: border-box;
}

html {
  font: 20px var(--font-family);
  color: var(--color-text);
}

body {
  margin: 0;
  padding: var(--padding-scaled);
  background-color: var(--color-background);
}

::selection {
  background-color: var(--color-selection-background);
  opacity: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.scaled--small {
  font-size: calc(min(5vw + 0.1rem, 1.5rem));
  line-height: 1.4;
  max-width: 33em;
}

.scaled {
  font-size: calc(min(5vw + 0.4rem, 4rem));
  line-height: calc(min(5vw + 0.8rem - 0.1em, 4rem));
  max-width: 15em;
}

a {
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
  }

  &:focus {
    outline: 2px solid var(--color-focus);
    outline-offset: 4px;
  }

  &.skip-link {
    position: absolute;
    top: -3rem;
    font-size: 0.8rem;

    &:focus {
      top: 1rem;
    }
  }

  &.more {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-text);
    text-decoration: none;
    display: block;
    margin: var(--padding-scaled-05) 0 0;

    &:hover {
      color: var(--color-link-hover);
    }
  }

  &.back {
    font-weight: 400;
    color: var(--color-text);
    text-decoration: none;
    display: block;
    margin: var(--padding-scaled) 0;

    &:hover {
      color: var(--color-link-hover);
    }
  }
}

p {
  margin: 0.6em 0 0;
}

address {
  font-style: normal;
  margin-top: 1.3em;
}

h1 {
  font-weight: 600;
  margin: var(--padding-scaled) 0 var(--padding-scaled-2) -0.05em;
}

h2 {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 0 var(--padding-scaled-05);

  @media (min-width: 768px) {
    &.scaled {
      margin-left: -0.05em;
    }
  }
}
