:root {
  --black: #121017;
  --black-shadow: rgba(18, 16, 23, 0.25);
  --white: #f5f4f8;
  --brand-bright: #b4acff;
  --brand-shadow: rgba(96, 51, 223, 0.23);
  --brand-dark: #5532d2;
  --section-margin: 6rem;
  --canvas-padding: 2.6rem;
  font: normal 14px/26px "commuters-sans";
}

@media (min-width: 1200px) {
  :root {
    font: normal 17px/29px "commuters-sans";
  }
}

@media (min-width: 1600px) {
  :root {
    font: normal 20px/32px "commuters-sans";
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--black);
  background: var(--white);
  margin: 0;
}

a {
  color: var(--brand-dark);

  &:hover {
    color: var(--black);
  }

  &.back {
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 0 0 0 1em;
    color: var(--black);
    text-decoration: none;
    margin: var(--section-margin) 0 0;

    &::before {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: 0.55em;
      height: 0.4em;
      width: 0.4em;
      border-width: 2px 2px 0 0;
      border-style: solid;
      border-color: var(--black);
      transform: rotate(-135deg);
    }
  }
}

p {
  margin: 1.3rem 0 0;

  &:first-child {
    margin-top: 0;
  }
}

dl {
  margin: 1.3em 0 0;

  dt {
    font-weight: 700;
    margin-top: 1.7rem;

    + dd {
      margin-top: 0.4rem;
    }
  }

  dd {
    margin: 0;
  }

  dt.blur,
  dd.blur {
    opacity: 0.5;
  }

  &.lists dd::before {
    content: "—";
    padding-right: 0.5em;
  }

  @media (min-width: 1200px) {
    &:not(.lists) {
      display: grid;
      margin: 2.7em 0 0;
      gap: 1.7rem 1.2rem;
      grid-template-columns: auto 1fr;

      dt {
        justify-self: end;

        &,
        + dd {
          margin-top: 0;
        }
      }
    }
  }

  &.key-data {
    margin: 3.6em 0 0;

    div {
      margin-top: 0.5rem;
    }

    dt,
    dd {
      display: inline;
    }

    dt::after {
      content: ": ";
    }

    dd:not(:last-child)::after {
      content: ", ";
    }

    @media (min-width: 1200px) {
      display: block;
    }
  }
}

ul {
  list-style: "—";
  margin: 1.3em 0 0;
  padding: 0 0 0 0.8em;

  > li {
    padding: 0 0 0 0.5em;
  }
}

address {
  font-style: normal;
  margin-top: 1.3em;
}

h1 {
  font: normal 4.1em "flood-std";
  margin: 1rem 0 0 -0.03em;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background: var(--brand-bright);
    box-shadow: 0 20px 66px var(--brand-shadow);
    position: absolute;
    z-index: -1;
    right: -6rem;
    top: -5rem;

    .home & {
      height: 17.1rem;
      width: 17.1rem;
      right: -7rem;
      top: -5rem;
    }
  }

  .project & {
    font-size: 2.9em;
  }
}

h2 {
  font: normal 2.1rem/1.05em "flood-std";
  margin: 4rem 0 2rem;
}

h3 {
  font-size: 1.7em;
  font-weight: 700;
  margin: 1.25rem 0 0;

  .home & {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0.75rem 0 0;
  }
}

h1,
h2,
h3 {
  &:first-child {
    margin-top: 0;
  }
}

main {
  overflow: hidden;
}

section {
  padding: 0 var(--canvas-padding);
  margin: var(--section-margin) 0 0;
}

section.about-me {
  background: var(--black);
  color: var(--white);
  padding-top: var(--section-margin);
  padding-bottom: var(--section-margin);
}

@media (min-width: 41.8rem) {
  div.title,
  section,
  footer {
    display: flex;
    justify-content: center;

    > .wrapper {
      width: 41.8rem;
    }
  }
}

@media (min-width: 1200px) {
  div.title,
  section,
  footer {
    > .wrapper {
      width: 45rem;
    }
  }
}
