.image {
  position: relative;
  width: 100%;
  height: 0;

  &.image--video > :only-child {
    object-fit: contain;
    background: var(--foreground);
  }

  &.image--square,
  &.image--rect {
    > :only-child {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.image--square {
    padding-bottom: 100%;
  }

  &.image--rect {
    padding-bottom: 56.25%;
  }
}
