.js-enabled .aos {
  @media (prefers-reduced-motion: no-preference) {
    &.aos--pending {
      opacity: 0;
      transform: translateY(50px);
    }

    &.aos--in-view {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.5s ease-in-out 0.1s, transform 0.5s ease-in-out 0.1s;
    }
  }
}
