.js-enabled .typewriter {
  opacity: 0;

  &.typewriter--active {
    opacity: 1;
  }

  .typewriter-text--shown {
    position: relative;

    &.typewriter-text--cursor::after {
      content: "|";
      position: absolute;
      color: var(--color-selection-background);
    }
  }

  .typewriter-text--hidden {
    opacity: 0;
  }
}
