.js-enabled .typewriter {
  .typewriter-text--shown {
    position: relative;

    &.typewriter-text--cursor::after {
      content: "|";
      display: inline-block;
      vertical-align: bottom;
      position: absolute;
      color: var(--color-selection-background);
    }
  }

  .typewriter-text--hidden {
    opacity: 0;
  }
}
