.js-enabled .typewriter {
  opacity: 0;

  &.typewriter--active {
    opacity: 1;
  }

  .typewriter-text--shown {
    position: relative;
  }

  .typewriter-cursor {
    position: relative;
    display: inline;

    &::after {
      content: "|";
      position: absolute;
      color: var(--color-selection-background);
      animation: cursor-blink 1s steps(2) infinite;

      @keyframes cursor-blink {
        0% {
          opacity: 0;
        }
      }

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }

  .typewriter-text--hidden {
    opacity: 0;
  }
}
