#slideshow {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;

  img,
  video {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 12px 41px var(--black-shadow);
  }

  ul.images {
    list-style: none outside none;
    margin: 0;
    padding: 0;

    > li {
      position: relative;
      padding: 0;

      .js-enabled &:not(.active) {
        visibility: hidden;
        height: 0;
      }

      &:not(:first-child) {
        margin-top: 18px;

        .js-enabled & {
          margin-top: 0;
        }
      }
    }
  }

  ul.controls {
    list-style: none outside none;
    display: none;
    justify-content: center;
    padding: 0;
    margin: 0.5rem 0 0;

    .js-enabled & {
      display: flex;
    }

    > li {
      > a {
        display: block;
        overflow: hidden;
        text-indent: -9999px;
        width: 24px;
        height: 24px;
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          height: 6px;
          width: 6px;
          border-radius: 3px;
          background: var(--brand-bright);
          top: 9px;
          left: 9px;
        }
      }

      &.active > a::before {
        // height: 12px;
        // width: 12px;
        // border-radius: 6px;
        // top: 6px;
        // left: 6px;
        background: var(--black);
      }
    }
  }

  #slideshow-previous,
  #slideshow-next {
    display: none;

    .js-enabled & {
      display: block;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      border: none;
      text-indent: -9999px;
      position: absolute;
      top: calc((100% - 36px - 24px) / 2);
      padding: 0;
      background: var(--white);
      z-index: 10;
      box-shadow: 0 12px 41px 5px var(--black-shadow);
      transition: box-shadow 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        box-shadow: 0 14px 41px 10px var(--black-shadow);
      }

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: calc((36px - 0.4em) / 2);
        height: 0.4em;
        width: 0.4em;
        border-width: 2px 2px 0 0;
        border-style: solid;
        border-color: var(--black);
        transform: rotate(-135deg);
      }

      &:disabled {
        visibility: hidden;
      }
    }
  }

  #slideshow-previous {
    left: -18px;

    .js-enabled &::before {
      left: calc((36px - 0.3em) / 2);
    }
  }

  #slideshow-next {
    right: -18px;

    .js-enabled &::before {
      right: calc((36px - 0.3em) / 2);
      transform: rotate(45deg);
    }
  }
}

@media (min-width: 1024px) {
  #slideshow {
    #slideshow-previous,
    #slideshow-next {
      .js-enabled & {
        height: 44px;
        width: 44px;
        top: calc((100% - 44px - 24px) / 2);

        &::before {
          top: calc((44px - 0.6rem) / 2);
          height: 0.6rem;
          width: 0.6rem;
          border-width: 2px 2px 0 0;
          border-style: solid;
          border-color: var(--black);
          transform: rotate(-135deg);
        }
      }
    }

    #slideshow-previous {
      left: -22px;

      .js-enabled &::before {
        left: calc((36px + 0.1rem) / 2);
      }
    }

    #slideshow-next {
      right: -22px;

      .js-enabled &::before {
        right: calc((36px + 0.1rem) / 2);
        transform: rotate(45deg);
      }
    }
  }
}
