:root {
  // colors
  --color-lightgrey: #eae8f0;
  --color-lightgrey-90: rgba(234, 232, 240, 0.9);
  --color-lightgrey-80: rgba(234, 232, 240, 0.8);
  --color-lightgrey-70: rgba(234, 232, 240, 0.7);
  --color-lightgrey-60: rgba(234, 232, 240, 0.6);
  --color-lightgrey-50: rgba(234, 232, 240, 0.5);
  --color-lightgrey-40: rgba(234, 232, 240, 0.4);
  --color-lightgrey-30: rgba(234, 232, 240, 0.3);
  --color-lightgrey-20: rgba(234, 232, 240, 0.2);
  --color-lightgrey-10: rgba(234, 232, 240, 0.1);
  --color-lightpurple: #8b79fb;
  --color-deeppurple: #422bd7;
  --color-blackpurple: #141221;
  --color-blackpurple-90: rgba(20, 18, 33, 0.9);
  --color-blackpurple-80: rgba(20, 18, 33, 0.8);
  --color-blackpurple-70: rgba(20, 18, 33, 0.7);
  --color-blackpurple-60: rgba(20, 18, 33, 0.6);
  --color-blackpurple-50: rgba(20, 18, 33, 0.5);
  --color-blackpurple-40: rgba(20, 18, 33, 0.4);
  --color-blackpurple-30: rgba(20, 18, 33, 0.3);
  --color-blackpurple-20: rgba(20, 18, 33, 0.2);
  --color-blackpurple-10: rgba(20, 18, 33, 0.1);

  // semantic colors
  --color-background: var(--color-lightgrey);
  --color-background-40: var(--color-lightgrey-40);
  --color-link: var(--color-deeppurple);
  --color-link-hover: var(--color-deeppurple);
  --color-focus: var(--color-deeppurple);
  --color-text: var(--color-blackpurple);
  --color-text-90: var(--color-blackpurple-90);
  --color-text-80: var(--color-blackpurple-80);
  --color-text-70: var(--color-blackpurple-70);
  --color-text-60: var(--color-blackpurple-60);
  --color-text-50: var(--color-blackpurple-50);
  --color-text-40: var(--color-blackpurple-40);
  --color-text-30: var(--color-blackpurple-30);
  --color-text-20: var(--color-blackpurple-20);
  --color-text-10: var(--color-blackpurple-10);
  --color-selection-background: var(--color-lightpurple);
  --color-overlay: var(--color-lightgrey-90);
  --color-overlay-hover: var(--color-lightgrey-60);

  // fonts
  --font-family: "Borna", sans-serif;

  // spacing
  --padding-scaled-025: calc(min(1.25vw + 0.275rem, 1.175rem));
  --padding-scaled-05: calc(min(2.5vw + 0.55rem, 2.35rem));
  --padding-scaled: calc(min(5vw + 1.1rem, 4.7rem));
  --padding-scaled-2: calc(min(10vw + 2.2rem, 9.4rem));
}

@media (prefers-color-scheme: dark) {
  :root {
    // adjust semantic colors
    --color-background: var(--color-blackpurple);
    --color-background-40: var(--color-blackpurple-40);
    --color-link: var(--color-lightpurple);
    --color-link-hover: var(--color-lightpurple);
    --color-focus: var(--color-deeppurple);
    --color-text: var(--color-lightgrey);
    --color-text-90: var(--color-lightgrey-90);
    --color-text-80: var(--color-lightgrey-80);
    --color-text-70: var(--color-lightgrey-70);
    --color-text-60: var(--color-lightgrey-60);
    --color-text-50: var(--color-lightgrey-50);
    --color-text-40: var(--color-lightgrey-40);
    --color-text-30: var(--color-lightgrey-30);
    --color-text-20: var(--color-lightgrey-20);
    --color-text-10: var(--color-lightgrey-10);
    --color-selection-background: var(--color-deeppurple);
    --color-overlay: var(--color-blackpurple-80);
    --color-overlay-hover: var(--color-blackpurple-60);
  }
}
