h2 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: 700;
  margin: var(--spacing-lg) 0;
  color: var(--color-text);
  max-width: none;
}

.work:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
  display: none;
}

@media (min-width: 50rem) {
  .work:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
    display: block;
  }
}

section.aboutme {
  margin: var(--spacing-xl) 0;
}

@media (min-width: 48rem) {
  section.aboutme {
    padding-left: calc((100% - var(--column-spacing)) / 2 + var(--column-spacing));
  }
}

section.aboutme p {
  margin-left: -0.05em;
}
