div.work-information {
  display: grid;
  max-width: none;
  gap: var(--spacing-lg) var(--column-spacing);
  grid-template-areas: "gallery" "description" "tags";
  align-items: start;
}

@media (min-width: 50rem) {
  div.work-information {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "gallery gallery gallery ." "description description tags tags";
  }
}

@media (min-width: 70rem) {
  div.work-information {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "gallery description" "tags tags";
  }
}

@media (min-width: 120rem) {
  div.work-information {
    grid-template-areas: "gallery description" ". tags";
  }
}

figure.gallery {
  margin: 0;
  grid-area: gallery;
}

/* @media (min-width: 96.875rem) {
  div.work-information {
    grid-template-columns: 33em 1fr;
  }
} */
/*
div.work-information > section {
  margin: 0;
} */

section.description {
  grid-area: description;
}

@media (min-width: 70rem) {
  section.description {
    margin-top: -0.2em; /* visually align text with image */
  }
}

section.description p:first-of-type {
  margin-top: 0;
}

section.key-data {
  margin: 0;
  grid-area: tags;
}

section.key-data dl {
  margin: 0;
  display: grid;
  gap: var(--column-spacing);
}

@media (min-width: 24rem) {
  section.key-data dl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 70rem) {
  section.key-data dl {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 93.75rem) {
  section.key-data dl {
    margin: 0.5em 0 0;
  }
}

section.key-data dl dt {
  font-weight: 600;
  display: block;
  margin: 0;
}

section.key-data dl dd {
  margin: 0;
}
